{%extends "base.html.twig"%}
{%block title%}Menu{%endblock%}
{%block body%}
    <div class="m-auto w50 my-4">
        <h1 class="titre text-light">SAISIE Menu</h1>
        {{form_start(form)}}
            {{form_widget(form)}}
            <div class="div-btn">
                <a href="{{path('app_menu')}}" class="btn btn-md btn-success my-4">Retour à la liste</a>
                <input type="submit"  class="btn btn-md btn-primary my-4" value="Enregister">
            </div>
        {{form_end(form)}}
    </div>
{%endblock%}